header {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-height: 1024px;
	background-image: url("../style_images/bg_header.jpg");
	background-repeat: no-repeat;
}

.logo_nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin: 39px 322px 0;
}

.logo a {
	display: flex;
	align-items: center;

	span {
		@include font_style($raleway-400, 34px, normal, 40px, $color_white);
	}
}

a {

}