.main_partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../style_images/bg_partners.png");
  background-size: cover;
  padding: 140px 405px 140px 405px;
}

.main_partners__link:hover .partner-img {
  transform: scale(1.1);
}

.main_partners__link:active {
  opacity: .67;
}