.main_partners {
  //width: 1920px;
  max-height: 489px;
  background-image: url("../style_images/bg_partners.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_partners__icons {
  transform: scale(0.5);
}