/* Error: Undefined variable.
 *    ,
 * 25 |     @include font_style($raleway-400, 34px, $line-height, $color_white);
 *    |                                             ^^^^^^^^^^^^
 *    '
 *   _header.scss 25:45  @import
 *   style.scss 5:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502      @include font_style($raleway-400, 34px, $line-height, $color_white);\a    \2502                                              ^^^^^^^^^^^^\a    \2575 \a   _header.scss 25:45  @import\a   style.scss 5:9      root stylesheet";
}
